body {
    background: rgb(43, 158, 226);
    color: rgb(45, 45, 45);
}

#mpc {
    display: flex;
    width: 780px;
    background: rgb(229, 225, 214);
    padding: 10px;
    border-radius: 20px;
}

#sidebar {
    position: relative;
    left: 2%;
    top: 2%;
    min-width: 225px;
}

#sampler {
    width: 650px;
    margin: 0 auto;
    position: relative;
}

.sampler-button {
    font-family: sans-serif;
    color: rgba(255,255,255,0.9);
    margin-right: 2%;
    margin-bottom: 2%;
    display: inline-block;
    height:100px;
    width: 100px;
    background: #333;
    border-top: 1px solid #333;
    border-right: 1px solid #333;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 1.5em rgba(0, 0, 0, .35);
    -moz-box-shadow: inset 0 0 1.5em rgba(0,0,0,.35);
    box-shadow: inset 0 0 1.5em rgba(0, 0, 0, .35);

    -webkit-transition: background 30ms ease-in;
    -moz-transition: background 30ms ease-in;
    -ms-transition: background 30ms ease-in;
    -o-transition: background 30ms ease-in;
    transition: background 30ms ease-in;

    -webkit-transition: all 0.15s linear;
    -moz-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
}

.sampler-button:hover, .sampler-button.active {
    background: #777;
    border-top: 1px solid #444;
    border-right: 1px solid #444;
    color: rgba(255,255,255,1.0);
}